.wrapper {
    width: 1240px;
    margin: 0 auto;
    background-color: #fff;
}

.banner {
    width: 100%;
    border-top: 4px solid var(--primary-color);
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 28px;
}

.logo-wrap {
    display: flex;
    align-items: center;
    padding: 6px 8px;
}

.logo {
    width: 48px;
    height: 22px;
}

.logo-title {
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 2px;
    padding-left: 4px;
}

.account-box {
    display: flex;
    button + button {
        margin-left: 8px;
    }
}

.slogan {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 90px 0 130px;
    h1 {
        font-size: 3.6rem;
        text-shadow: #050505 0px 0px 3px;
        margin: 0px 0px 8px;
        font-weight: 100;
        line-height: 4.6rem;
    }
    p {
        max-width: 530px;
        text-align: center;
        font-size: 1.8rem;
        line-height: 2.5rem;
        margin: 0px 0px 30px;
        text-shadow: #050505 0px 0px 3px;
    }
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    span {
        padding: 0 20px;
        font-size: 1.8rem;
    }
}

.caption {
    text-align: center;
    font-weight: 100;
    font-size: 2.4rem;
    margin-bottom: 40px;
}

.trending {
}
.song-list {
    padding: 0 30px;
}

// Song Item
.song-item {
    width: 180px;
    padding-bottom: 36px;
}

.song-thumbnail {
    display: block;
    height: 180px;
}

.song-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 4px 0;
    font-weight: 100;
}

.song-author {
    font-size: 1.2rem;
    color: #999;
}

.teaser {
}

.arstis {
}

.footer {
}
