// CSS Normalize
@import 'normalize.css';

// Font
@font-face {
    font-family: 'Interstate';
    src: url('/assets/fonts/Interstate.woff');
}

// :root {

// }

// Reset CSS
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Interstate', sans-serif;
    font-size: 1.6rem;
}
